div {
    position: relative;
    align-self: center;
    background-color: aquamarine;
}

tr:nth-child(odd) {
    background-color: blueviolet;
}

tr,td {
    border: 2px solid;
}

table {
    border: 2px solid;
    border-collapse: collapse;
}